:root {
    --black: #000000;
    --white: #ffff;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Open_Sans", sans-serif;
    font-weight: 300;
}

a {
    color: var(--white);
    font-family: "Open_Sans";
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

.button {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 25px 73px;
    font-weight: 700;
    font-size: 24px;
    transition: font-size 0.2s ease-in;

}

.button:hover {
    font-weight: 700;
    font-size: 25px;
}

section {
    padding: 150px 0;
}

.text {
    font-weight: 300;
    font-size: 20px;
}

.text-semiBold {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

.title-text {
    font-weight: 300;
    font-size: 40px;
}

.title-text-bold {
    font-weight: 700;
}